<p>Sort by: <a href="/?sort=votes">Top</a> - <a href="/">New</a></p>
<% @quotes.each do |quote| %>
	<div class="vote_actions">
		<button class="vote up" quote="<%= quote.id %>"
			direction="up">Upvote</button>

		<p class="vote_count" id="quote_<%= quote.id %>_votes">
			<%= quote.votes %>
		</p>

		<button class="vote down" quote="<%= quote.id %>"
			direction="down">Downvote</button>
	</div>

	<div class="quote">

		<pre><code><%=h quote.content %></code></pre>

		<p class="quote_details">Submitted by <%= User[quote.user_id].first_name %>
      <abbr class="timeago" title="<%= quote.created_at %>">
        on <%= quote.created_date %>
      </abbr>
		</p>
	</div>
<% end %>
